form {
  margin: 1rem;
  min-width: 70ch;
  flex-direction: column;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  position: relative;
}

input {
  margin-right: auto;
  width: 100%;
  border: none;
  border-bottom: 2px solid lightgrey;
}

input:focus {
  outline: none;
  border-bottom: 2px solid grey;
}

button {
  border: none;
  border-radius: var(--main-border-radius);
  background-color: var(--main-color);
  padding: 1rem 3rem;
  color: white;
}

.validation-error {
  position: absolute;
  color: red;
  bottom: 5px;
}

.create-success {
  position: absolute;
  color: green;
  bottom: 5px;
}

.saving-status {
  position: absolute;
  color: white;
  bottom: 5px;
}
