form {
  /* margin: 1rem; */
  min-width: 70ch;
  flex-direction: column;
  padding: 2rem 0 1rem 0;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  position: relative;
}

input {
  margin-right: auto;
  width: 100%;
  border: none;
  border-bottom: 2px solid lightgrey;
}

input:focus {
  outline: none;
  border-bottom: 2px solid grey;
}

.add-task-button {
  border: none;
  border-radius: var(--main-border-radius);
  background-color: var(--main-color);
  padding: 1rem 3rem;
  color: white;
  cursor: pointer;
}

.add-task-button:hover {
  background-color: var(--main-hover-color);
}

.validation-error {
  position: absolute;
  color: red;
  bottom: -10px;
}

.create-success {
  position: absolute;
  color: green;
  bottom: -10px;
}

.saving-status {
  position: absolute;
  color: blacjk;
  bottom: -10px;
}
