.validation-error {
  position: absolute;
  color: red;
  bottom: 5px;
  font-size: 12px;
}

.edit-form {
  margin: 0;
  padding: 0;
  width: 100%;
  min-width: 5px;
  /* padding: 0 0 2rem 0; */
  position: relative;
}

.edit-input:focus,
.edit-input {
  width: 100%;
  outline: none;
  border-bottom: 1px solid black;
}

.save-icon-wrapper {
  padding: 0.5rem;
  border-radius: 8px;
  cursor: pointer;
}

.save-icon-wrapper {
  background-color: #5693ff;
}
.save-icon-wrapper:hover {
  background-color: #4d85e6;
}
