.text-done {
  text-decoration: line-through;
}

li {
  background-color: #fff;

  border: 2px solid var(--main-color);
  border-radius: var(--main-border-radius);

  display: flex;
  gap: 1rem;

  padding: 1rem;
  width: 100%;
}
